<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neusoft.xuxiao.dao.inf.IQuestionDao">
	<insert id ="insertQuestion" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
		insert into 
			question(
				question_base_id,
				question_index,
				select_type,
				content
				)
				values
		<foreach collection="list" item="question" separator=",">
		(
			#{question.question_base_id},
			#{question.question_index},
            #{question.select_type},
            #{question.content}
		)
		</foreach>
	</insert>
	<insert id = "insertAnswer" parameterType="java.util.List">
		insert into 
			answer(
				question_id,
				answer_index,
				answer_content
			  )
			  values	   
	   <foreach collection="list" item="answer" separator=",">
		(
			#{answer.question_id},
            #{answer.answer_index},
            #{answer.answer_content}
		)
		</foreach>
	</insert>
	<insert id = "insertRightAnswer" parameterType="java.util.List">
		insert into 
		right_answer(
				question_id,
				answer_index,
				answer_content
				)
				values
		<foreach collection="list" item="right_answer" separator=",">
		(
			#{right_answer.question_id},
			#{right_answer.answer_index},
            #{right_answer.answer_content}
		)
		</foreach>
	</insert>
	
	<select id="getAllQuestionBase" resultType="cn.neusoft.xuxiao.dao.entity.QuestionBase">
		select 
			*
		from
			question_base	
	</select>
	
	<select id="getActivityCode" resultType="cn.neusoft.xuxiao.dao.entity.ActivityCodeDO">
		select 
			*
		from
			activity_code
		where
			user_id = #{user_id}
		and
			question_base_id = #{base_id}
	</select>
	
	<select id="insertActivityCode" parameterType="cn.neusoft.xuxiao.dao.entity.ActivityCodeDO">
		insert into
			activity_code(user_id,code,question_base_id)
		values(#{user_id},#{code},#{question_base_id},#{time})
	</select>
	
	<select id="getQuestionBaseById" resultType="cn.neusoft.xuxiao.dao.entity.QuestionBase">
		select
			*
		from 
			question_base
		where
			id=#{id}
	</select>
	
	<select id="findExamHistoryByCode" resultType="cn.neusoft.xuxiao.dao.entity.ExamDO">
		select 
			*
		from
			exam_history
		where
			activity_code = #{code}
	</select>
	
	<select id="insertExamHistory" parameterType="cn.neusoft.xuxiao.dao.entity.ExamDO">
		insert into
			exam_history(user_id,question_base_id,activity_code,start_time,status)
		values(#{user_id},#{question_base_id},#{activity_code},#{start_time},#{status})	
	</select>
	
	<select id="findQuestionListByBaseId" resultType="cn.neusoft.xuxiao.dao.entity.Question">
		select
			*
		from
			question
		where 
			question_base_id = #{base_id}	
	</select>
	
	<select id="findAnswerListByQuestionId" resultType="cn.neusoft.xuxiao.dao.entity.Answer">
		select
			*
		from
			answer
		where
			question_id = #{question_id}
	</select>
</mapper>