<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neusoft.xuxiao.dao.inf.IUserDao">
	<select id="findUserByStudentId" resultType="cn.neusoft.xuxiao.dao.entity.UserInfo">
		select
		*
		from
		wx_user
		where student_id=#{student_id}		
	</select>
	<select id="findUserById" parameterType="int" resultType="cn.neusoft.xuxiao.dao.entity.UserInfo">
		select
		*
		from
		wx_user
		where id=#{id}
	</select>
	<select id="findUserByOpenId" parameterType="java.lang.String" resultType="cn.neusoft.xuxiao.dao.entity.UserInfo">
		select
		*
		from
		wx_user
		where open_id=#{openId}
	</select>
	<insert id="insertAndgetkey" parameterType="java.lang.String">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert
		into
		wx_user(open_id)
		values
		(#{userId})
	</insert>
	<select id="findStudentById" parameterType="java.lang.String" resultType="cn.neusoft.xuxiao.dao.entity.StudentDO">
		select
		*
		from
		student
		where
		student_id=#{student_id}
	</select>
	<update id="updateUserInfoById" parameterType="cn.neusoft.xuxiao.dao.entity.UserInfo">
		update 
		wx_user
		<trim prefix="SET" suffixOverrides=",">
			<if test="username != null">
				username = #{username, jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex, jdbcType=VARCHAR},
			</if>
			<if test="region != null">
				region = #{region, jdbcType=VARCHAR},
			</if>
			<if test="head_url != null">
				head_url = #{head_url, jdbcType=VARCHAR},
			</if>
		</trim>
		where id=#{id}
	</update>
	<update id="bindStudentInfo">
		update
		wx_user
		set
		student_id = #{student_id}
		where id = #{id}
	</update>
	
	<select id="getQuestionCountByBaseId" parameterType="int">
		select
		count
		from
		question
		where
		question_base_id = #{question_base_id}		
	</select>
	
	<select id="getAdminByUsername" parameterType="java.lang.String" resultType="cn.neusoft.xuxiao.dao.entity.Admin">
		select 
		*
		from
		admin
		where
		username=#{username}
	</select>
	
	<insert id="insertUserByOpenId" parameterType="cn.neusoft.xuxiao.dao.entity.UserInfo">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into
		wx_user(open_id)
		values(#{open_id})
	</insert>
	
	<select id="findStudentByUid" resultType="cn.neusoft.xuxiao.dao.entity.StudentDO">
		select
			s.*
		from
			wx_user wu
		INNER JOIN
			student s
		ON
			wu.student_id = s.student_id
		where wu.id = #{id}
	</select>

	<select id="findRegisterByUid" resultType="cn.neusoft.xuxiao.dao.entity.Register">
		SELECT * FROM register WHERE student_id =
		(
			SELECT student_id FROM wx_user WHERE id = #{user_id}
		)
	</select>

	<insert id="register" parameterType="cn.neusoft.xuxiao.dao.entity.Register">
		insert into
			register(student_id,student_name,start_time,address)
		values(#{student_id},#{student_name},#{start_time},#{address})
	</insert>

	<select id="getAnswerHistory" resultType="cn.neusoft.xuxiao.dao.entity.ExamDO">
		SELECT *FROM
			exam_history
		WHERE user_id = #{user_id}
	</select>

	<insert id="saveFeedback" parameterType="cn.neusoft.xuxiao.dao.entity.Feedback">
		insert into
			feedback(user_id,title,content,record_time)
		values(#{user_id},#{title},#{content},#{record_time})
	</insert>
</mapper>